
# Common stuff
.vs
.hx
*.sln
*.obj
*.dll
*.lib
*.os
*.so
*.tcl
.vscode
*.pdb
*__pycache__/*
.cache/*

compile_commands.json

# Ignore the Cesium native directory
cesium_godot/native

# Ignore the actual godotcpp module
godot-cpp/



# Ignore everything in godot3dtiles
godot3dtiles/**
# Except the addons subdirectory and its contents
!godot3dtiles/addons/
!godot3dtiles/addons/**

!godot3dtiles/addons/cesium_godot/lib/
godot3dtiles/addons/cesium_godot/lib/*

!godot-html/ultralight/lib/*.lib
!cesium_godot/third_party/litehtml/*.lib

# Ignore any project import files 
godot3dtiles/**/*.uid
godot3dtiles/**/*.import

# Ignore large files
*.ipch
*.vcxproj
*.vcxproj.filters
*.dblite
